body {
    margin: 0%;
    padding: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .navbar {
    margin-top: 60px;
    position: absolute;
    right: 0px;
    width: 400px;
    height: 91%;
    background-color: #70a7a9;
    text-align: left;
    transition: 0.3s ease;
  }
  
  .navbar > .side-nav {
    list-style-type: none;
    padding: 0%;
    margin: 0%;
  }
  
  .nav-item {
    display: flex;
  }
  
  .nav-item > .nav-link { 
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
    padding: 1em;
    flex: 1;
  }
  
  .cart {
    background: none;
    border: none;
  }
  
  .cart-icon {
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 1em;
    margin-left: -80px;
  }
  
  .nav-item > .cart-heading {
    text-decoration: none;
    padding: 1.3em;
    font-size: 2em;
    color: #fff;
  }
  
  .cname {
    width: 200px;
    height: 20px;
  }
  
  .btn-btn-primary {
    cursor: pointer;
     margin-top: 250px;
  }
  
  #cancel {
    background-color: #cb3f3f;
    color: white;
    text-align: centers;
    border: 1px;
    border-radius: 8px;
    padding: 2%;
    margin-left: 80px;
  }
  
  #confirm {
    background-color: #2e4d72;
    color: white;
    text-align: center;
    border: 1px;
    border-radius: 8px;
    padding: 2%;
    margin-left: 50px;
  }
  
  
  
  
  
  